<h1>Events</h1>

<div class="card" style="width: 30rem;">
  <div class="card-body">
    <% @events.each do |event| %>
      <%= button_to "Subscribe To #{event.name}", subscribe_event_path(event.id), method: :post, class: "btn btn-primary mt-2"  %>
      <br>
    <% end %>
  </div>
</div>
